In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Using cached pandas-2.0.2-cp39-cp39-win_amd64.whl (10.7 MB)
Collecting numpy>=1.20.3
  Using cached numpy-1.24.3-cp39-cp39-win_amd64.whl (14.9 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cmd\pycharmprojects\flaskapi\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in c:\users\cmd\pycharmprojects\flaskapi\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.2 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [12]:
df = pd.read_csv("data_small/TG_STAID000001.txt", skiprows=20, parse_dates=["    DATE"])

In [13]:
df

       STAID   SOUID       DATE     TG   Q_TG
0          1   35381 1860-01-01     21      0
1          1   35381 1860-01-02     46      0
2          1   35381 1860-01-03     31      0
3          1   35381 1860-01-04     37      0
4          1   35381 1860-01-05     31      0
...      ...     ...        ...    ...    ...
59316      1   35381 2022-05-27  -9999      9
59317      1   35381 2022-05-28  -9999      9
59318      1   35381 2022-05-29  -9999      9
59319      1   35381 2022-05-30  -9999      9
59320      1   35381 2022-05-31  -9999      9

[59321 rows x 5 columns]